* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: silver;
    padding: 20px;
}
.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    margin: 0 auto;
}
input {
    border: 2px solid teal;
    font-size: 20px;
    height: 40px;
    width: 500px;
    padding-left: 5px;
}
#create_button {
    width: 200px;
    height: 40px;
    border: 2px solid teal;
    font-size: 18px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}
#todo_list {
    margin: 0 auto;
    width: 750px;
}
h3 {
    font-size: 28px;
    font-family: "Franklin Gothic Heavy", sans-serif;
}
span {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid;
}
.block_text {
    width: 100%;
    border: 2px solid teal;
    padding: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.divButton {
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.edit_button {
    height: 40px;
    width: 120px;
    font-size: 18px;
    color: #333;
    background-color: yellow;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid #fff;
    cursor: pointer;
}
.delete_button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(131, 18, 18);
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
}